# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac system files
.DS_Store

# Logs and temporary files
*.log
*.bak
*.tmp

# Data
data/raw/
data/external/
results/

# Ignore all CSV/JSON except the ones needed for CI
*.csv
*.json
!data/processed/events.csv
!data/processed/brent_oil_log_returns.csv

# Keep processed directory but ignore other files in it
data/processed/*
!data/processed/events.csv
!data/processed/brent_oil_log_returns.csv

# Frontend build
node_modules/
src/frontend/build/
src/frontend/.env

# Compiled outputs
*.pkl
*.sqlite3
*.db
*.h5
*.pt
